<form class="form" autocomplete="off">
    <div class="control">
        <h1>Sign in</h1><!-- Heading element (could be used for form title) -->
    </div>
    <div class="control block-cube block-input">
        <input name="username" type="text" placeholder="Username"><!-- Username input field -->
           <!-- color part for the input box -->
        <div class="bg-top">
            <div class="bg-inner"></div>
        </div>
        <div class="bg-right">
            <div class="bg-inner"></div>
        </div>
        <div class="bg">
            <div class="bg-inner"></div>
        </div>
    </div>
    <div class="control block-cube block-input">
        <input name="password" type="password" placeholder="Password"><!-- Password input field -->
           <!-- color part for the input box -->
        <div class="bg-top"><!-- Top background of input -->
            <div class="bg-inner"></div>
        </div>
        <div class="bg-right">
            <div class="bg-inner"></div>
        </div>
        <div class="bg">
            <div class="bg-inner"></div>
        </div>
    </div>
    <!--  button section for the sign in -->
    <button class="btn block-cube block-cube-hover" type="button">
            <!-- color part for the input box -->
        <div class="bg-top">
            <div class="bg-inner"></div>
        </div>
        <div class="bg-right">  
            <div class="bg-inner"></div>
        </div>
        <div class="bg">
            <div class="bg-inner"></div>
        </div>
        <div class="text">Log In</div>
    </button>
</form>
