/* Grid styling */
.ship-place-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  margin: 2rem;
  max-width: min(32vw, 400px);
}

.box {
  width: min(4vw, 50px);
  height: min(4vw, 50px);
  aspect-ratio: 1;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid white;
  transition: background-color 0.4s ease-in-out;
}

.box:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
}

.isAShip {
  background-color: #0066ff;
}

/* Button styling */
.button {
  border: black solid 2px;
  background-color: transparent;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #4d94ff;
}

.btn {
  width: 10%;
  display: block;
  padding: 14px 16px;
  background: transparent;
  outline: none;
  border: 0;
  color: #fff;
  letter-spacing: 0.1em;
  font-weight: bold;
  font-family: monospace;
  font-size: 16px;
}

.block-cube {
  position: relative;
}

.block-cube-hover:focus .bg .bg-inner,
.block-cube-hover:hover .bg .bg-inner {
  top: 100%;
}

.bg-top {
  position: absolute;
  height: 10px;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(52, 9, 121, 1) 37%, rgba(0, 212, 255, 1) 94%);
  bottom: 100%;
  left: 5px;
  right: -5px;
  transform: skew(-45deg, 0);
  margin: 0;
}

.bg-inner {
  bottom: 0;
}

.bg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(52, 9, 121, 1) 37%, rgba(0, 212, 255, 1) 94%);
}

.bg-right {
  position: absolute;
  background: rgb(2, 0, 36);
  background: rgba(0, 212, 255, 1);
  top: -5px;
  z-index: 0;
  bottom: 5px;
  width: 10px;
  left: 100%;
  transform: skew(0, -45deg);
}

.bg-right .bg-inner {
  left: 0;
}

.bg-inner {
  background: #212121;
  position: absolute;
  left: 2px;
  top: 2px;
  right: 2px;
  bottom: 2px;
  transition: all 0.2s ease-in-out;
}

.text {
  position: relative;
  z-index: 2;
}