<!-- Grid represents the ship placements screen -->
<div class="ship-place-container">
  <h1>
    Place your ships!
    {{countPlacedShips()}} / {{5}}
  </h1>
  <div class="game">
    <div class="box" *ngFor="let cell of cells" [class.isAShip]="shipPlacements[cell.row-1][cell.col-1]"
      (click)="handleClick(cell)">
    </div>
  </div>
  <button class="btn block-cube block-cube-hover" type="button" (click)="navigateToGame()">
    <!-- color part for the input box -->
    <div class="bg-top">
      <div class="bg-inner"></div>
    </div>
    <div class="bg-right">
      <div class="bg-inner"></div>
    </div>
    <div class="bg">
      <div class="bg-inner"></div>
    </div>
    <div class="text">Start the Game</div>
  </button>
</div>