html {
  font-family: Arial, sans-serif;
  background: conic-gradient(from 45deg, #7C05F2, #010626, #021859, #0B59BF, #30A8F2);
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: monospace, serif;
  letter-spacing: 0.05em;
  min-height: 100%;
  background-position: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #fff;
  min-height: 100%;
}

h1 {
  font-size: 23px;
}

/* Adjustments for container to hold both grids */
.container {
  display: flex;
  /* Change to flex layout */
  justify-content: space-between;
  align-items: center;
  /* Space between the grids */
  margin-top: 20px;
  /* Adjust margin-top as needed */
}

/* CSS for the first grid */
.grid-container {
  display: grid;
  grid-template-columns: repeat(8, 50px);
  grid-auto-rows: 50px;
  gap: 1px;
  padding: 40px;
}

/* Individual box styling */
.box {
  width: 100%;
  height: 100%;
  background-color: #1a58b6;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Button styling */
.button {
  border: black solid 2px;
  background-color: transparent;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #4d94ff;
}

.btn {
  width: 100%;
  display: block;
  padding: 14px 16px;
  background: transparent;
  outline: none;
  border: 0;
  color: #fff;
  letter-spacing: 0.1em;
  font-weight: bold;
  font-family: monospace;
  font-size: 16px;
}

.block-cube {
  position: relative;
}

.block-cube-hover:focus .bg .bg-inner,
.block-cube-hover:hover .bg .bg-inner {
  top: 100%;
}

.bg-top {
  position: absolute;
  height: 10px;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(52, 9, 121, 1) 37%, rgba(0, 212, 255, 1) 94%);
  bottom: 100%;
  left: 5px;
  right: -5px;
  transform: skew(-45deg, 0);
  margin: 0;
}

.bg-inner {
  bottom: 0;
}

.bg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(52, 9, 121, 1) 37%, rgba(0, 212, 255, 1) 94%);
}

.bg-right {
  position: absolute;
  background: rgb(2, 0, 36);
  background: rgba(0, 212, 255, 1);
  top: -5px;
  z-index: 0;
  bottom: 5px;
  width: 10px;
  left: 100%;
  transform: skew(0, -45deg);
}

.bg-right .bg-inner {
  left: 0;
}

.bg-inner {
  background: #212121;
  position: absolute;
  left: 2px;
  top: 2px;
  right: 2px;
  bottom: 2px;
  transition: all 0.2s ease-in-out;
}

.text {
  position: relative;
  z-index: 2;
}

@media (max-width: 942px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .body {
    height: 100%;
  }
}