<div class="card">
    <div class="photo-container">
        <svg viewBox="0 0 220 220">
            <circle shape-rendering="geometricPrecision" class="indicator" cx="110" cy="110" r="96"></circle>
        </svg>
        <div class="img-box">
            <img src="https://img.freepik.com/premium-vector/man-avatar-profile-picture-vector-illustration_268834-538.jpg?size=338&ext=jpg&ga=GA1.1.1395880969.1709424000&semt=ais" alt="" />
        </div>
    </div>
    <h3>Mukesh Adani</h3>
    <span>beginner</span>
    <div class="box-container">
        <div class="box">
            <i class="fa-solid fa-crown"></i>
            <span>Mts: 16</span>
        </div>
        <div class="box">
            <i class="fa-solid fa-star"></i>
            <span>Scr: 540</span>
        </div>
    </div>
</div>

