@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

.main {
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    height: 90vh;
    /* background-color: azure;x     */
    background: fixed;
    /* background-image: url('../../assets/backgound_profile.jpeg') */
}

.card {
    width: min(90vw, 350px);
    height: min(90vh, 400px);
    position: relative;
    cursor: pointer;
    perspective: 1000px;
    border-radius: 20px;
    overflow: hidden; 

}

.card .content,
.card .back {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.089);
    backdrop-filter: blur(20px);
    border: 1px solid white;
    /* color: rgb(188, 44, 44); */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.055);
    transition: all .4s;
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
}

.card .content {
    z-index: 2;
    visibility: visible;
    color: rgb(75, 215, 215);
}


.card .back {
    z-index: 1;
    transform: rotateY(180deg);
    color: black;
    visibility: hidden;
    color: aquamarine;
}

.card:hover .content   {
    /* color: rgb(209, 69, 69); */
    transform: rotateY(180deg);
    visibility: hidden;
    /* color: rgb(18, 234, 234); */
}

.card:hover .back  {
    transform: rotateY(0deg);
    color: #2aab35;
    visibility: visible;
}

/*  CSS FOR THE TEXT CONTENT */
.card .content .text,
.card .back .text {
    justify-content: center;
    margin-top: 90px;
    text-align: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    padding: 10px; /* Add padding to create some space around the text */
    border-radius: 10px; /* Add border radius for rounded corners */
}


.text-font {
    font-family: 'Pixelify Sans', sans-serif;
  }