<body>
    
    <div class="card">

        <div class="content">
            <h4 style="margin-top: 10px;">Player Card</h4>
            <div class="text">
                <h1>Username</h1>
                <p>keshav khandelwal</p>
            </div>
        </div>
        <div class="back">
            <h1>Player Stats</h1>
            <div class="text">
                <p>Matches Won: 10</p>
                <p>Matches Lost: 5</p>
            </div>
            
            <!-- Add more stats as needed -->
        </div>
    </div>
</body>