<form
  class="form"
  [formGroup]="resetPasswordForm"
  (ngSubmit)="onSubmit()"
  class="password-form"
>
  <div class="control">
    <h1>Reset Password</h1>
    <!-- Heading for sign up -->
  </div>

  <!-- password section -->
  <div class="control block-cube block-input">
    <input
      type="password"
      class="password-input"
      placeholder="New Password"
      formControlName="password"
    />
    <!-- input password -->

    <!-- color part for the input box -->
    <div class="bg-top">
      <div class="bg-inner"></div>
    </div>
    <div class="bg-right">
      <div class="bg-inner"></div>
    </div>
    <div class="bg">
      <div class="bg-inner"></div>
    </div>
  </div>
  <div
    *ngIf="
      resetPasswordForm.get('password')?.invalid &&
      (resetPasswordForm.get('password')?.dirty ||
        resetPasswordForm.get('password')?.touched)
    "
    class="error-message"
  >
    <div *ngIf="resetPasswordForm.get('password')?.errors?.['required']">
      Password is required
    </div>
    <div *ngIf="resetPasswordForm.get('password')?.errors?.['minlength']">
      Password must be at least 8 characters
    </div>
    <div *ngIf="resetPasswordForm.get('password')?.errors?.['maxlength']">
      Password must not exceed 200 characters
    </div>
    <div *ngIf="resetPasswordForm.get('password')?.errors?.['invalidPassword']">
      Password must contain at least one capital letter, one special character,
      and no consecutive digits
    </div>
  </div>

  <div class="control block-cube block-input">
    <input
      type="password"
      class="confirm-password-input"
      placeholder="Confirm Password"
      formControlName="confirmPassword"
    />
    <!-- input password -->

    <!-- color part for the input box -->
    <div class="bg-top">
      <div class="bg-inner"></div>
    </div>
    <div class="bg-right">
      <div class="bg-inner"></div>
    </div>
    <div class="bg">
      <div class="bg-inner"></div>
    </div>
  </div>
  <div
    *ngIf="
      resetPasswordForm.get('password')?.invalid &&
      (resetPasswordForm.get('password')?.dirty ||
        resetPasswordForm.get('password')?.touched)
    "
    class="error-message"
  >
    <ng-container *ngIf="resetPasswordForm.get('confirmPassword')">
      <div
        *ngIf="resetPasswordForm.get('confirmPassword')?.errors?.['required'] && (resetPasswordForm.get('confirmPassword')?.dirty || resetPasswordForm.get('confirmPassword')?.touched)"
        class="error-message"
      >
        Confirm Password is required
      </div>
      <div
        *ngIf="resetPasswordForm.get('confirmPassword')?.errors?.['passwordMismatch'] && (resetPasswordForm.get('confirmPassword')?.dirty || resetPasswordForm.get('confirmPassword')?.touched)"
        class="error-message"
      >
        Password doesn't matched
      </div>
    </ng-container>
  </div>
  <!-- button section -->
  <button class="btn block-cube block-cube-hover" type="submit">
    <div class="bg-top">
      <div class="bg-inner"></div>
    </div>
    <div class="bg-right">
      <div class="bg-inner"></div>
    </div>
    <div class="bg">
      <div class="bg-inner"></div>
    </div>
    <div class="text">Change Password</div>
  </button>
</form>
