<form
  class="form"
  [formGroup]="resetPasswordForm"
  (ngSubmit)="onSubmit()"
  autocomplete="off"
  action="registration_endpoint"
  method="POST"
>
  <div class="control">
    <h1>Reset Password</h1>
    <!-- Heading for sign up -->
  </div>

  <!-- email section -->
  <div class="control block-cube block-input">
    <input
      type="password"
      class="password-input"
      placeholder="New Password"
      formControlName="password"
    />
    <!-- input email -->

    <!-- color part for the input box -->
    <div class="bg-top">
      <div class="bg-inner"></div>
    </div>
    <div class="bg-right">
      <div class="bg-inner"></div>
    </div>
    <div class="bg">
      <div class="bg-inner"></div>
    </div>
  </div>
  <ng-container *ngIf="resetPasswordForm.get('password')">
    <div
      *ngIf="resetPasswordForm.get('password')?.errors?.['required'] && (resetPasswordForm.get('password')?.dirty || resetPasswordForm.get('password')?.touched)"
      class="error-message"
    >
      <div class="error-message">Password is required</div>
    </div>
    <div
      *ngIf="resetPasswordForm.get('password')?.errors?.['minlength'] && (resetPasswordForm.get('password')?.dirty || resetPasswordForm.get('password')?.touched)"
      class="error-message"
    >
      <div class="error-message">
        Password must be at least 8 characters long
      </div>
    </div>
  </ng-container>

  <div class="control block-cube block-input">
    <input
      type="password"
      class="password-input"
      placeholder="Confirm Password"
      formControlName="password"
    />
    <!-- input email -->

    <!-- color part for the input box -->
    <div class="bg-top">
      <div class="bg-inner"></div>
    </div>
    <div class="bg-right">
      <div class="bg-inner"></div>
    </div>
    <div class="bg">
      <div class="bg-inner"></div>
    </div>
  </div>
  <ng-container *ngIf="resetPasswordForm.get('confirmPassword')">
    <div
      *ngIf="resetPasswordForm.get('confirmPassword')?.errors?.['required'] && (resetPasswordForm.get('confirmPassword')?.dirty || resetPasswordForm.get('confirmPassword')?.touched)"
      class="error-message"
    >
      Confirm Password is required
    </div>
    <div
      *ngIf="resetPasswordForm.get('confirmPassword')?.errors?.['passwordMismatch'] && (resetPasswordForm.get('confirmPassword')?.dirty || resetPasswordForm.get('confirmPassword')?.touched)"
      class="error-message"
    >
      Password doesn't matched
    </div>
  </ng-container>
  <!-- button section -->
  <button
    class="btn block-cube block-cube-hover"
    type="submit"
    [disabled]="resetPasswordForm.invalid"
  >
    <div class="bg-top">
      <div class="bg-inner"></div>
    </div>
    <div class="bg-right">
      <div class="bg-inner"></div>
    </div>
    <div class="bg">
      <div class="bg-inner"></div>
    </div>
    <div class="text">Send Email</div>
  </button>
</form>
