<form
  class="form"
  [formGroup]="forgotPasswordForm"
  (ngSubmit)="onSubmit()"
  autocomplete="off"
  action="registration_endpoint"
  method="POST"
>
  <div class="control">
    <h1>Forgot Password</h1>
    <!-- Heading for sign up -->
  </div>

  <!-- email section -->
  <div class="control block-cube block-input">
    <input
      name="email"
      type="email"
      formControlName="email"
      required
      placeholder="Email"
    />
    <!-- input email -->

    <!-- color part for the input box -->
    <div class="bg-top">
      <div class="bg-inner"></div>
    </div>
    <div class="bg-right">
      <div class="bg-inner"></div>
    </div>
    <div class="bg">
      <div class="bg-inner"></div>
    </div>
  </div>
  <ng-container *ngIf="getEmail()">
    <div
      *ngIf="getEmail()?.errors?.['required'] && (getEmail()?.dirty || getEmail()?.touched)"
    >
      <div class="error-message">Email is required</div>
    </div>
    <div
      *ngIf="getEmail()?.errors?.['email'] && (getEmail()?.dirty || getEmail()?.touched)"
    >
      <div class="error-message">Email invalid</div>
    </div>
  </ng-container>
  <!-- button section -->
  <button
    class="btn block-cube block-cube-hover"
    [disabled]="forgotPasswordForm.invalid"
    type="submit"
  >
    <div class="bg-top">
      <div class="bg-inner"></div>
    </div>
    <div class="bg-right">
      <div class="bg-inner"></div>
    </div>
    <div class="bg">
      <div class="bg-inner"></div>
    </div>
    <div class="text">Send Email</div>
  </button>
</form>
