<form
  class="form"
  [formGroup]="signupForm"
  (ngSubmit)="onSubmit()"
  autocomplete="off"
  action="registration_endpoint"
  method="POST"
>
  <div class="control">
    <h1>Forgot Password</h1>
    <!-- Heading for sign up -->
  </div>

  <!-- email section -->
  <div class="control block-cube block-input">
    <input
      name="email"
      type="email"
      formControlName="email"
      required
      placeholder="Email"
    />
    <!-- input email -->

    <!-- color part for the input box -->
    <div class="bg-top">
      <div class="bg-inner"></div>
    </div>
    <div class="bg-right">
      <div class="bg-inner"></div>
    </div>
    <div class="bg">
      <div class="bg-inner"></div>
    </div>
  </div>
  <div
    *ngIf="
      signupForm.get('email')?.invalid &&
      (signupForm.get('email')?.dirty || signupForm.get('email')?.touched)
    "
    class="error-message"
  >
    <div *ngIf="signupForm.get('email')?.errors?.['required']">
      Email is required
    </div>
    <div *ngIf="signupForm.get('email')?.errors?.['email']">
      Invalid email address
    </div>
  </div>

  <!-- button section -->
  <button
    class="btn block-cube block-cube-hover"
    [disabled]="signupForm.invalid"
    (click)="showAlert()"
    type="submit"
  >
    <div class="bg-top">
      <div class="bg-inner"></div>
    </div>
    <div class="bg-right">
      <div class="bg-inner"></div>
    </div>
    <div class="bg">
      <div class="bg-inner"></div>
    </div>
    <div class="text">Send Email</div>
  </button>
</form>
