<form
  class="form"
  [formGroup]="signupForm"
  (ngSubmit)="onSubmit()"
  autocomplete="off"
  action="registration_endpoint"
  method="POST"
>
  <div class="control">
    <h1>Sign In</h1>
    <!-- Heading for sign up -->
  </div>
  <div class="control block-cube block-input">
    <!-- username section -->
    <input
      name="username"
      type="text"
      placeholder="Username"
      formControlName="username"
      required
      [(ngModel)]="username"
    />

    <!-- input usename -->

    <!-- color part for the input box -->
    <div class="bg-top">
      <div class="bg-inner"></div>
    </div>
    <div class="bg-right">
      <div class="bg-inner"></div>
    </div>
    <div class="bg">
      <div class="bg-inner"></div>
    </div>
  </div>

  <div
    *ngIf="
      signupForm.get('username')?.invalid &&
      (signupForm.get('username')?.dirty || signupForm.get('username')?.touched)
    "
    class="error-message"
  >
    <div *ngIf="signupForm.get('username')?.errors?.['required']">
      User name is required
    </div>
  </div>

  <!-- password section -->
  <div class="control block-cube block-input">
    <input
      name="password"
      type="password"
      formControlName="password"
      required
      placeholder="Password"
      [(ngModel)]="password"
    />
    <!-- input password -->

    <!-- color part for the input box -->
    <div class="bg-top">
      <div class="bg-inner"></div>
    </div>
    <div class="bg-right">
      <div class="bg-inner"></div>
    </div>
    <div class="bg">
      <div class="bg-inner"></div>
    </div>
  </div>
  <div
    *ngIf="
      signupForm.get('password')?.invalid &&
      (signupForm.get('password')?.dirty || signupForm.get('password')?.touched)
    "
    class="error-message"
  >
    <div *ngIf="signupForm.get('password')?.errors?.['required']">
      Password is required
    </div>
  </div>

  <!-- button section -->
  <button
    class="btn block-cube block-cube-hover"
    [disabled]="signupForm.invalid"
    (click)="showAlert()"
    type="submit"
  >
    <div class="bg-top">
      <div class="bg-inner"></div>
    </div>
    <div class="bg-right">
      <div class="bg-inner"></div>
    </div>
    <div class="bg">
      <div class="bg-inner"></div>
    </div>
    <div class="text">Log In</div>
  </button>
  <!-- Forgot Password link -->
  <div class="forgot-password-link">
    <a (click)="takeToForgotPasswordPage()">Forgot Password?</a>
  </div>
</form>
