* {
    margin: 0;
    padding: 0;
}

.container {
    /* background-color: rgb(109, 197, 226); */
    width: 100%;
    margin: auto;
    position: relative;
    height: 100vh;
    /* Set height to fill the viewport */
    overflow: hidden;
    /* Hide overflow to prevent scrollbars */
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    /* Ensure the background image is behind other content */
}

.navbar {
    background-color: #eef1f5;
    padding: 11px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    /* Stick navbar to the top */
    z-index: 1;
    /* Ensure navbar appears above background image */
}


.logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.btn {
    background-color: #2196F3;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btn:hover {
    background-color: #1565C0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.btn:active {
    background-color: #0D47A1;
}



input[type="text"] {
    width: 200px;
    padding: 10px;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.text-on-image {
    position: absolute;
    top: 60%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: rgb(18, 15, 15);
    font-size: 24px;
    text-align: left;
}

.image img {
    margin-left: 200%;
    width: 100px;
}