.navbar {
    background-color: #eef1f5;
    padding: 11px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

.logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.btn {
    background-color: #2196F3;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btn:hover {
    background-color: #1565C0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.btn:active {
    background-color: #0D47A1;
}
