.game {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin: 2rem;
}

.box {
    width: min(4vw, 50px);
    height: min(4vw, 50px);
    aspect-ratio: 1;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid white;
    transition: background-color 0.4s ease-in-out;
}

.box:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
}

.isClicked {
    background-color: #0066ff;
}

.isAHit {
    background-color: red !important;
}