<div class="game-container">
  <h1 class="turn-indicator">{{currentTurn === 'Human'? 'Your turn': 'Bots turn'}}</h1>
  <div class="grid-container">
    <div class="ships-grid">
      <h1 class="score-indicator">{{computerScore}} / {{totalScore}}</h1>
      <app-grid (indexClicked)="handleIndexClicked($event)" [class.covered]="currentTurn === 'Human'">
      </app-grid>
    </div>
    <div class="ships-grid">
      <h1 class="score-indicator">{{humanScore}} / {{totalScore}}</h1>
      <app-grid (indexClicked)="handleIndexClicked($event)" [class.covered]="currentTurn === 'Computer'">
      </app-grid>
    </div>
  </div>
</div>