<!-- This component contains the text content which is displayed in
    the main front page in the main body -->

<div class="text-on-image">
    <h1>Welcome to the Battleship Game...!</h1>
    <p>"Battleship" is a classic two-player guessing game. <br>
        Each player has a grid (typically 8x8) representing <br>
        the ocean, where they place a number of ships without <br>
        the other player seeing their placement. The goal <br>
        of the game is to sink all of the opponent's ships  <br>
        before they sink yours.</p>
</div>

